<div class="card-body p-3">
    <div class="alert alert-danger" role="alert" [hidden]="!error">
        {{error}}
    </div>
    <form novalidate [formGroup]="buscarForm" (ngSubmit)="buscar()">
    <div *ngIf="!BuscarUsuarioFormCtrl.documento.valid && (BuscarUsuarioFormCtrl.documento.dirty || BuscarUsuarioFormCtrl.documento.touched)" class="alert alert-warning">      
            <b>El documento</b> es requerido
     
    </div>
    <div class="form-group col-md-2">
        <label for="inputAocumento">Documento</label>
        <input type="text" class="form-control" name="documento" id="documento" formControlName="documento" required>
        <button type="submit" class="btn btn-primary" >Buscar</button>
    </div>
    </form>
</div>
<div *ngIf="!ocultarResultado">
<div class="container">
    <form novalidate [formGroup]="eliminarForm" (ngSubmit)="OnSubmit()">
        <div class="card-body p-3">
            <div class="alert alert-danger" role="alert" [hidden]="!error">
                {{error}}
            </div>
            <div class="alert alert-info" role="alert" [hidden]="!mensaje">
                {{mensaje}}
            </div>
            <div *ngIf="!EliminarUsuarioFormCtrl.nombre.valid && (EliminarUsuarioFormCtrl.nombre.dirty || EliminarUsuarioFormCtrl.nombre.touched)"
                class="alert alert-warning">
                <div *ngIf="EliminarUsuarioFormCtrl.documento.errors.required">
                    <b>El nombre</b> es requerido

                </div>
            </div>
            <div *ngIf="!EliminarUsuarioFormCtrl.apellido.valid && (EliminarUsuarioFormCtrl.apellido.dirty || EliminarUsuarioFormCtrl.apellido.touched)"
                class="
                        alert alert-warning">
                <div *ngIf="EliminarUsuarioFormCtrl.apellido.errors.required">
                    <b>El apellido</b> es requerido
                </div>
            </div>

            <div *ngIf="!EliminarUsuarioFormCtrl.documento.valid && (EliminarUsuarioFormCtrl.documento.dirty || EliminarUsuarioFormCtrl.documento.touched)"
                class="alert alert-warning">
                <div *ngIf="EliminarUsuarioFormCtrl.documento.errors.required">
                    <b>El documento</b> es requerido
                </div>
            </div>
            <div *ngIf="!EliminarUsuarioFormCtrl.correo.valid && (EliminarUsuarioFormCtrl.correo.dirty || EliminarUsuarioFormCtrl.correo.touched)"
                class="alert alert-warning">
                <div *ngIf="EliminarUsuarioFormCtrl.correo.errors.required">
                    <b>El correo</b> es requerido
                </div>
            </div>
            <!--Campos del formulario-->
            <div class="fomr-row">
                <div class="form-group col-md-2">
                    <label for="inpuNombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" formControlName="nombre" required>

                </div>
                <div class="form-group col-md-2">
                    <label for="inputAocumento">Apelldio</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" formControlName="apellido"
                        required>

                </div>
            </div>
            <div class="fomr-row">
                <div class="form-group col-md-2">
                    <label for="inputDocumento">Documento</label>
                    <input type="text" class="form-control" name="documento" id="documento" formControlName="documento"
                        required>

                </div>
                <div class="form-group col-md-2">
                    <label for="inputDocumento">Correo</label>
                    <input type="email" class="form-control" name="correo" id="correo" formControlName="correo"
                        required>

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Eliminar</button>
            <button type="button" class="btn bg-light" (click)="cancel()" name="cancelar">Cancelar</button>

        </div>
    </form>
</div>
</div>